.quiz
    .quiz__wrapper
        .quiz__item#quiz__item
            p quiz here?
        .quiz__arrows
            .quiz__arrows_left
                a#quizPrevious(href="") Previous
            .quiz__arrows_right
                a#quizNext(href="") Next